html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;

    font-style: normal;
    text-decoration: none;
}


@media only screen and (max-width: 1392px)
.canvas-style-normal #canvas {
    margin: 80px;
}

#mobileNav, #mobileNav .subnav {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: max-height,.3s;
    -moz-transition: max-height,.3s;
    -o-transition: max-height,.3s;
    transition: max-height,.3s;
}

.main-container {
   
    border: 2px solid rgba(0,0,0,.1);
    padding: 30px;
    margin: 50px 80px;
}

.header {
    position: relative;
    margin-bottom: 40px;
}

.upper-logo, .lower-logo, .topNav {
   
}

.page-borders-thick .mobileMenuLink {
    border-bottom-width: 2px;
}

body a, body a:link, body a:visited {
    color: #111;
}

a {
    color: #0085bd;
    text-decoration: none;
}

.header h1.logo {
    
    letter-spacing: 3px;
    font-family: Lato;
    font-size: 35px;
    line-height: 1.49em;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 20px;
    position: relative;
}

.upper-logo{
	width: 100%;
    text-align: center;
}

.main-nav {
	position : relative;
	height: 40px;
}

.main-nav ul{
	list-style-type: none;
	width:calc(100% - 200px);
	margin-left : 100px;
	height: 40px;
    position: absolute;
    background: white;
    z-index: 10;
}

.main-nav ul li{
	float: left;
	width: 14%;
	padding-bottom: 10px;
}

.main-nav ul li a{
	padding-bottom: 5px;
	text-decoration: none;
}

.main-nav ul li a:hover{
	border-bottom: 2px solid lightgray;
}

.main-nav ul li a.active{
	border-bottom: 2px solid lightgray;
}

.navbar-line{
	height: 3px;
	border-bottom: solid lightgray 2px; 
	position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: 1;
}

.div-footerline{
	height: 3px;
	border-bottom: solid lightgray 2px; 
	position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: 1;
}

.no-display{
	display: none;
}

.div.main{
	position: absolute !important;
    visibility: hidden !important;
}

.head {
    display: none;
}

ileNav, #mobileNav .subnav {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: max-height,.3s;
    -moz-transition: max-height,.3s;
    -o-transition: max-height,.3s;
    transition: max-height,.3s;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 65px 15px 20px;
}

.footer {
    height: 100px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 30px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.page-header {
	padding-left: 50px;
    padding-right: 50px;
    background-color: #0f0000;
    width: 100vw;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    height :45px;
}

.carousel-item img.carousel{
	width :100%;
	height : 450px;
}

#mobileNav, #mobileNav .subnav {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: max-height,.3s;
    -moz-transition: max-height,.3s;
    -o-transition: max-height,.3s;
    transition: max-height,.3s;
}

.page-borders-thick #mobileNav .wrapper {
    border-bottom-width: 2px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.page-borders-thick #mobileMenuLink {
    border-bottom-width: 2px;
}

dy a, body a:link, body a:visited {
    color: #111;
}

#header {
    position: relative;
}

.canvas-style-normal #upper-logo, .canvas-style-normal #topNav {
    width: 100%;
    text-align: center;
}

.site-title h1.logo {
    font-family: Varela Round,arial,sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Lato;
    font-size: 35px;
    line-height: 1.49em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 100;
    font-style: normal;
}

.site-info, .site-tag-line {
    font-family: Varela Round,arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-family: "proxima-nova";
    font-size: 14px;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-style: normal;
    color: rgba(0,0,0,.3);
    text-align: center;
}


body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}

.canvas-style-normal .site-info, .canvas-style-normal .site-tag-line, .canvas-style-normal .custom-info {
    clear: left;
    padding-top: 1.5em;
}

.custom-info {
    text-align: left;
}


[class*=sqs-col]:last-child {
    padding-right: 0;
}

.sqs-layout:not(.sqs-editing)>.sqs-row:first-child>[class*=sqs-col]:first-child>.sqs-block:last-child, .sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 17px;
}

.canvas-style-normal #lower-logo {
    display: none;
}

.site-title h1.logo {
    font-family: Varela Round,arial,sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Lato;
    font-size: 35px;
    line-height: 1.49em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 100;
    font-style: normal;
}

.topNav, #categoryNav {
    position: relative;
}


#topNav nav, #categoryNav nav {
   
    width: 100%;
    text-align: center;
}

.canvas-style-normal .top-divider {
    display: none;
}

.collection-type-page #page, .not-found-page #page {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.hide-info-footer .info-footer-wrapper {
    display: none;
}

.info-footer {
    float: left;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

#infoFooterBlock, #socialLinks {
    display: inline-block;
    vertical-align: middle;
}

#socialLinks {
    text-align: right;
    font-size: 0;
    line-height: 0;
}

.page-borders-thick #footer, .page-borders-thick .info-footer-wrapper {
    border-top-width: 2px;
}

.absolute-cart-box {
    position: fixed;
    top: 11px;
    right: 11px;
    z-index: 15000;
}

element.style {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.94);
}

svg:not(:root) {
    overflow: hidden;
}

.footer-child {
    width: 200px;
    margin: 20px auto;
    }

.sprite {
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-size: 204px auto;
}    
 
.facebook {
    background-position: -1.2px -74.7px;
}    

.footer-social {
    display: block;
    height: 30px;
    width: 30px;
}

.footer-child {
	position: relative;
    width: 220px;
    margin: 20px auto;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #000000;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}   
.border-radius {
  border: 2px solid #c1c1c1;
  border-color: #dee2e6;
  border-style: outset;
  border-radius: 10px;
}
.a-carousel{
	color: #f1f2f4;
	text-decoration: none;
	background-color: transparent
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: calc(100vh - 40px);
  max-width: calc(100vw -40px);
  margin-top: 20px;
  width: auto !important;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 40px;
  right: 35px;
  color: ##fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* unvisited link */
.page-footer a {
  color: #000000;
}



/* The grid: Four equal columns that floats next to each other */
.row-photodetail {
  display:flex;
  padding: 10px;
  
}

/* Style the images inside the grid */
.column-photodetail img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column-photodetail img:hover {
  opacity: 1;
   
}

.container-photodetail {
  position: relative;
 
}

.img-photodetail-large{
	width: 400px;
    margin-left: calc(50% - 200px);
    margin-top: 30px;
    height: 300px;
}

.img-photodetail-thumbnail{
	width: 49px;
    height: 49px;
}
/* Expanding image text */
#imgtext-photodetail{
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn-photodetail {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.column-photodetail {
	witdh: 60px;
	margin: 5px;
	display: flex;
}

.column-photodetail:first-child{	
	margin-left: auto;
}

.column-photodetail:last-child{	
	margin-right: auto;
}


.column-photodetail img{
	
	margin: auto;
}

.tblimage-create, .tblimage-update ,.tbl-gallery-create ,.tbl-gallery-update ,.tblproduct-create ,.tblproduct-update ,.ninicarousel-create ,.ninicarousel-update{
	border: 1px gray solid;
    padding: 25px;
    border-radius: 8px;
    background-color: #f4f2f2;
	width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.form-image .form-group .form-control{
	width: 300px;
	display: inline-block;
}

.form-image .form-group .control-label{
	width: 110px;
}
	

.breadcrumb > li + li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}

.form-image  .form-group label{
	clear: both;
	float:left;
	height:38px;
	line-height:36px;
}
	
.form-image  .form-group:after{
	clear:both;
}

.form-image .btn-success , .index .tblimage-index .btn-success{
    color: #fff;
    background-color: #141515;
    border-color: #111111;
}

.form-image .btn-success:hover ,.index .tblimage-index .btn-success:hover{
    color: #fff;
    background-color: #141515;
    border-color: #111111;
}

.index .tblproduct-index .btn-success , .index .tblgallery-index .btn-success{
    color: #fff;
    background-color: #141515;
    border-color: #111111;
}

.index .tblproduct-index .btn-success:hover ,.index .tblgallery-index .btn-success:hover{
    color: #fff;
    background-color: #141515;
    border-color: #111111;
}

.clear{
	clear:both;
}

.main-body{
	width: 660px;
    height: 410px;
    overflow-y:auto;
}

.image-card-body{
	flex: 1 1 auto;
}

.image-card-text{
	margin-bottom: 0;
    font-size: 12px;
}

.image-card{
	height: 80px;
    width: 60px;
  }
  
.description{
	margin: 0 auto;
	text-align: center;
	border-bottom: lightgray 1px solid;
	padding-bottom: 30px;
	margin-bottom: 30px;
	font-size: 16px;
	width: 70%;
}

.description-contact{
	margin: 0 auto;
	text-align: center;
	border-bottom: lightgray 1px solid;
	padding-bottom: 20px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
	width: 35%;
	
}

.description-view{
	 display: none;
}	

.about-bild , .shop-bild{
	margin: 0 auto;
	padding-bottom: 50px;
	width: 70%;
}

.about-img , .shop-img{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
    
.help-block-error {
    font-size: 12px;
    color: red;
    margin: 0;
}

.menu-button{
	display: none;
}

@media (max-width: 450px) {
	.main-container {
	    padding: 10px;
	    margin: 10px 10px;
	}
	
	.topNav{
		padding-top: 40px;
		display: none;
		position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 9999;
	    width: 50%;
	    height: 300px;
	    background-color: #000000a6;
	}

	.topNav ul{
		margin: 10px;
	    position: inherit;
	    padding-inline-start: 0;
    	width: 0;
    	height: 0;
	}

	.topNav ul li{
		float: none;
	    width: 50%;
	    color: white;
	}

	.topNav ul li a{
	    color: white;
	}
	
	.navbar-line{
		display: none;
	}
	.topNav.taggeld{
		display: block;
	}
	
	.menu-button{
		display: inherit;
		position: absolute;
    	left: 0;
    	height: 35px;
	    padding: 5px;
	    line-height: 10px;
	    z-index: 99999;
	    background-color: gray;
	    color: white;
	    border: none;
	}
	
	.login-container {
		margin-bottom: 20px;
    	width: 300px ; 
	}
	
	.description-view{
	 display: block;
	 width: 35%;
	}	
	 
}